@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Poppins:wght@500&display=swap');

*{
    font-family: 'Jost', sans-serif;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo-area h5 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-right: 450px;
  }

.nav-link{
    list-style: none;
}
.nav-link li{
    display: inline-block;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 20px;
}

.nav-link li a{
    color: black;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    margin-left: 50px;
}

.icon-deco{
    margin-left: 10px;
    color: black;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

/*---introductory area start---*/

.intro-area{
    margin-top: 100px;
    margin-bottom: 200px;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-leftside{
    margin-top: 35px;
    max-width: 50%;
}

.section-title{
    font-size: 52px;
    color: #3A3A3A;   
}

.circle-background{
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
}

.section-para{
    width: 60%;
    color: #3A3A3A;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 20px;
}

.button-deco{
    margin: 0 auto;
    display: inline-flex;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 9px 25px;
    background-color: #e02c6d;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button-deco:hover{
    background-color:#f3045c;
}

.fa-arrow-right{
    font-size: 16px;
    padding-left: 10px;
    margin-top: 5px;
}

.intro-rightside img {
    transform: translateY(-15%);
    animation: camera 1.5s infinite;
    transition: ease 1s;
}

@keyframes camera {
	0% {
	
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {

		transform: translatey(0px);
	}
}

/*---introductory area end---*/


/*--- business area start --- */

.business-area{
    margin-bottom: 100px;
}

.business-icon-box{
    width: 1110px;
    height: 110px;
    background-color: whitesmoke;
    margin: 0 auto;
}

.busines-icons{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*--- business area end --- */

/* collection area start */

.collection-area h2{
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
}

.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 35px;
    justify-items: center;
}

.collection-banner img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}

.collection{
    background: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.fa-star{
    color: #FB8200;
}

.fa-star-half-alt{
    color: #FB8200;
}

.see-more-button {
    text-align: right;
  }
.see-more-button a {
    color: #e02c6d;
    text-decoration: none;
}

/* ---- collection area end--- */


/*----followus gallery start ---*/

.followus-area{
    margin-top: 150px;
}

.followus-area h2{
    font-size: 28px;
    margin-bottom: 50px;
    text-align: center;
}

.img-item{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-top: 10px;
}
.img-item img{
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.followus-gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.img-item img:hover{
    filter: drop-shadow(4px 4px 6px gray);
    transform: scale(1.1);
}

/*----followus gallery end ---*/

/*----- fooer area start -----*/

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #0A0826;;
	padding: 40px 0px;
	margin-top: 80px;
}
footer h1 {
	font-size: 25px;
	letter-spacing: 0.5px;
	color: #ffffff;
}

footer p {
	/* font-weight: bold; */
	font-size: 14px;
    letter-spacing: 0.5px;
    color: #D9DBE1;
    padding: 5px;
}

.social-icon{
    margin-top: 10px;
}

.fa-instagram, .fa-twitter, .fa-youtube, .fa-facebook{
    font-size: 25px;
    color: white;
    padding: 0px 5px;
}

/*----- fooer area end -----*/


/*--------------------
     Media Queries
--------------------- */
/* Mobile device */

@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
   .header-area{
    height: 150px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
   }
   .header-area ul {
    margin: 0;
    padding: 0;
    justify-content: space-between;
}   
    .flex-container{
        display: grid;
        grid-template-columns: 1fr;
    }
   .business-icon-box, .business-icon{
      display: flex;
      flex-direction: column;
   }
   .collections{
       display: grid;
       grid-template-columns:repeat(2, 1fr);
   } 

   .followus-gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
   }
    
}

/* tablet devices */

@media only screen and (min-width:688px) 
and (max-width:992px) {
    .container{
        width: 100%;
    }

.leaders, .courses{
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
}
.blogs{
    grid-template-columns: repeat(1, 1fr);
}
}
